web/WSDL/MlvCarsService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. -->
<definitions targetNamespace="http://services.mlvCars.upem.com/" name="MlvCarsService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://services.mlvCars.upem.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://services.mlvCars.upem.com/" schemaLocation="MlvCarsService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="getAllVehicles">
    <part name="parameters" element="tns:getAllVehicles"/>
  </message>
  <message name="getAllVehiclesResponse">
    <part name="parameters" element="tns:getAllVehiclesResponse"/>
  </message>
  <message name="updateVehicle">
    <part name="parameters" element="tns:updateVehicle"/>
  </message>
  <message name="deleteVehicle">
    <part name="parameters" element="tns:deleteVehicle"/>
  </message>
  <message name="getVehicleByID">
    <part name="parameters" element="tns:getVehicleByID"/>
  </message>
  <message name="getVehicleByIDResponse">
    <part name="parameters" element="tns:getVehicleByIDResponse"/>
  </message>
  <message name="getVehicleByMaxPassengers">
    <part name="parameters" element="tns:getVehicleByMaxPassengers"/>
  </message>
  <message name="getVehicleByMaxPassengersResponse">
    <part name="parameters" element="tns:getVehicleByMaxPassengersResponse"/>
  </message>
  <message name="getCarByID">
    <part name="parameters" element="tns:getCarByID"/>
  </message>
  <message name="getCarByIDResponse">
    <part name="parameters" element="tns:getCarByIDResponse"/>
  </message>
  <message name="getCarByBrand">
    <part name="parameters" element="tns:getCarByBrand"/>
  </message>
  <message name="getCarByBrandResponse">
    <part name="parameters" element="tns:getCarByBrandResponse"/>
  </message>
  <message name="getCarByModel">
    <part name="parameters" element="tns:getCarByModel"/>
  </message>
  <message name="getCarByModelResponse">
    <part name="parameters" element="tns:getCarByModelResponse"/>
  </message>
  <message name="isVehicleOnSale">
    <part name="parameters" element="tns:isVehicleOnSale"/>
  </message>
  <message name="isVehicleOnSaleResponse">
    <part name="parameters" element="tns:isVehicleOnSaleResponse"/>
  </message>
  <message name="addVehicle">
    <part name="parameters" element="tns:addVehicle"/>
  </message>
  <portType name="MlvCarsService">
    <operation name="getAllVehicles">
      <input wsam:Action="http://services.mlvCars.upem.com/MlvCarsService/getAllVehiclesRequest" message="tns:getAllVehicles"/>
      <output wsam:Action="http://services.mlvCars.upem.com/MlvCarsService/getAllVehiclesResponse" message="tns:getAllVehiclesResponse"/>
    </operation>
    <operation name="updateVehicle">
      <input wsam:Action="http://services.mlvCars.upem.com/MlvCarsService/updateVehicle" message="tns:updateVehicle"/>
    </operation>
    <operation name="deleteVehicle">
      <input wsam:Action="http://services.mlvCars.upem.com/MlvCarsService/deleteVehicle" message="tns:deleteVehicle"/>
    </operation>
    <operation name="getVehicleByID">
      <input wsam:Action="http://services.mlvCars.upem.com/MlvCarsService/getVehicleByIDRequest" message="tns:getVehicleByID"/>
      <output wsam:Action="http://services.mlvCars.upem.com/MlvCarsService/getVehicleByIDResponse" message="tns:getVehicleByIDResponse"/>
    </operation>
    <operation name="getVehicleByMaxPassengers">
      <input wsam:Action="http://services.mlvCars.upem.com/MlvCarsService/getVehicleByMaxPassengersRequest" message="tns:getVehicleByMaxPassengers"/>
      <output wsam:Action="http://services.mlvCars.upem.com/MlvCarsService/getVehicleByMaxPassengersResponse" message="tns:getVehicleByMaxPassengersResponse"/>
    </operation>
    <operation name="getCarByID">
      <input wsam:Action="http://services.mlvCars.upem.com/MlvCarsService/getCarByIDRequest" message="tns:getCarByID"/>
      <output wsam:Action="http://services.mlvCars.upem.com/MlvCarsService/getCarByIDResponse" message="tns:getCarByIDResponse"/>
    </operation>
    <operation name="getCarByBrand">
      <input wsam:Action="http://services.mlvCars.upem.com/MlvCarsService/getCarByBrandRequest" message="tns:getCarByBrand"/>
      <output wsam:Action="http://services.mlvCars.upem.com/MlvCarsService/getCarByBrandResponse" message="tns:getCarByBrandResponse"/>
    </operation>
    <operation name="getCarByModel">
      <input wsam:Action="http://services.mlvCars.upem.com/MlvCarsService/getCarByModelRequest" message="tns:getCarByModel"/>
      <output wsam:Action="http://services.mlvCars.upem.com/MlvCarsService/getCarByModelResponse" message="tns:getCarByModelResponse"/>
    </operation>
    <operation name="isVehicleOnSale">
      <input wsam:Action="http://services.mlvCars.upem.com/MlvCarsService/isVehicleOnSaleRequest" message="tns:isVehicleOnSale"/>
      <output wsam:Action="http://services.mlvCars.upem.com/MlvCarsService/isVehicleOnSaleResponse" message="tns:isVehicleOnSaleResponse"/>
    </operation>
    <operation name="addVehicle">
      <input wsam:Action="http://services.mlvCars.upem.com/MlvCarsService/addVehicle" message="tns:addVehicle"/>
    </operation>
  </portType>
  <binding name="MlvCarsServicePortBinding" type="tns:MlvCarsService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="getAllVehicles">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="updateVehicle">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
    </operation>
    <operation name="deleteVehicle">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
    </operation>
    <operation name="getVehicleByID">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getVehicleByMaxPassengers">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getCarByID">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getCarByBrand">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getCarByModel">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="isVehicleOnSale">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="addVehicle">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
    </operation>
  </binding>
  <service name="MlvCarsService">
    <port name="MlvCarsServicePort" binding="tns:MlvCarsServicePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

