web/WSDL/MlvRentalService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. -->
<definitions targetNamespace="http://services.mlvCars.upem.com/" name="MlvRentalService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://services.mlvCars.upem.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://services.mlvCars.upem.com/" schemaLocation="MlvRentalService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="validateRental">
    <part name="parameters" element="tns:validateRental"/>
  </message>
  <message name="validateRentalResponse">
    <part name="parameters" element="tns:validateRentalResponse"/>
  </message>
  <message name="updateRental">
    <part name="parameters" element="tns:updateRental"/>
  </message>
  <message name="getAllRentals">
    <part name="parameters" element="tns:getAllRentals"/>
  </message>
  <message name="getAllRentalsResponse">
    <part name="parameters" element="tns:getAllRentalsResponse"/>
  </message>
  <message name="getRentalByID">
    <part name="parameters" element="tns:getRentalByID"/>
  </message>
  <message name="getRentalByIDResponse">
    <part name="parameters" element="tns:getRentalByIDResponse"/>
  </message>
  <message name="numberOfPreviousRental">
    <part name="parameters" element="tns:numberOfPreviousRental"/>
  </message>
  <message name="numberOfPreviousRentalResponse">
    <part name="parameters" element="tns:numberOfPreviousRentalResponse"/>
  </message>
  <message name="isVehicleRented">
    <part name="parameters" element="tns:isVehicleRented"/>
  </message>
  <message name="isVehicleRentedResponse">
    <part name="parameters" element="tns:isVehicleRentedResponse"/>
  </message>
  <message name="addRental">
    <part name="parameters" element="tns:addRental"/>
  </message>
  <portType name="MlvRentalService">
    <operation name="validateRental">
      <input wsam:Action="http://services.mlvCars.upem.com/MlvRentalService/validateRentalRequest" message="tns:validateRental"/>
      <output wsam:Action="http://services.mlvCars.upem.com/MlvRentalService/validateRentalResponse" message="tns:validateRentalResponse"/>
    </operation>
    <operation name="updateRental">
      <input wsam:Action="http://services.mlvCars.upem.com/MlvRentalService/updateRental" message="tns:updateRental"/>
    </operation>
    <operation name="getAllRentals">
      <input wsam:Action="http://services.mlvCars.upem.com/MlvRentalService/getAllRentalsRequest" message="tns:getAllRentals"/>
      <output wsam:Action="http://services.mlvCars.upem.com/MlvRentalService/getAllRentalsResponse" message="tns:getAllRentalsResponse"/>
    </operation>
    <operation name="getRentalByID">
      <input wsam:Action="http://services.mlvCars.upem.com/MlvRentalService/getRentalByIDRequest" message="tns:getRentalByID"/>
      <output wsam:Action="http://services.mlvCars.upem.com/MlvRentalService/getRentalByIDResponse" message="tns:getRentalByIDResponse"/>
    </operation>
    <operation name="numberOfPreviousRental">
      <input wsam:Action="http://services.mlvCars.upem.com/MlvRentalService/numberOfPreviousRentalRequest" message="tns:numberOfPreviousRental"/>
      <output wsam:Action="http://services.mlvCars.upem.com/MlvRentalService/numberOfPreviousRentalResponse" message="tns:numberOfPreviousRentalResponse"/>
    </operation>
    <operation name="isVehicleRented">
      <input wsam:Action="http://services.mlvCars.upem.com/MlvRentalService/isVehicleRentedRequest" message="tns:isVehicleRented"/>
      <output wsam:Action="http://services.mlvCars.upem.com/MlvRentalService/isVehicleRentedResponse" message="tns:isVehicleRentedResponse"/>
    </operation>
    <operation name="addRental">
      <input wsam:Action="http://services.mlvCars.upem.com/MlvRentalService/addRental" message="tns:addRental"/>
    </operation>
  </portType>
  <binding name="MlvRentalServicePortBinding" type="tns:MlvRentalService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="validateRental">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="updateRental">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
    </operation>
    <operation name="getAllRentals">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getRentalByID">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="numberOfPreviousRental">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="isVehicleRented">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="addRental">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
    </operation>
  </binding>
  <service name="MlvRentalService">
    <port name="MlvRentalServicePort" binding="tns:MlvRentalServicePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

